@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

body , html , .navigation, .navigation-header span {
    font-family: 'Tajawal', sans-serif;
}


.shuffle_buttons {
    margin-top: 25px !important;
}
.shuffle_buttons button {
    border: none;
    background: none
}
.shuffle_buttons button.mixitup-control-active {
    color: #D06666;
    font-weight: bold;
}
.ecommerce-application .ecommerce-card:hover {
    transform: none !important;
}
.and_new_client {
    float: right;
    margin: 10px 0;
    font-size: 13px;
    border: none !important;
}
.ecommerce-application .checkout-items .ecommerce-card .item-img img {
    width: 120px !important;
}
.product_item {
    text-align: center !important;
    padding: 20px 0 !important;
    margin: 10px 20px !important;
}
.bootstrap-touchspin.input-group {
    margin: 10px auto 10px auto;
}
.item-size h5 {
    font-size: 14px;
}
.item-name h6 {
    font-size: 16px;
    font-weight: bold;
}
.item_body {
    padding: 0 !important;
}
.custom_button {
    margin-top: 0 !important;
}
.dz-message {
    font-size: 19px !important;
}
.dropzone .dz-message:before {
    width: 31px !important;
    height: 31px !important;
}
.orders .order_block {
    background-color: white;
    margin-bottom: 20px;
}
/* .order_block .order_time {
    text-align: left;
} */
.orders .order_block .order_head {
    background-color: #4B4B4B;
    padding: 7px;
}
.orders .order_block .order_products {
    padding: 7px;
    border-bottom: 1px solid #f0efef;
}
.orders .order_block .order_head h4 {
    color: white;
}
.meal_details_head {
    padding: 7px 5px;
    background-color: #f8f8f8;
}
@media (max-width: 575.98px) {
    .orders .order_block .order_head , .orders .order_block .order_products {
       text-align: center !important;
    }
}
@media (max-width: 767.98px) {
    .orders .order_block .order_head , .orders .order_block .order_products {
       text-align: center !important;
    }
}

@media (min-width: 768px) {
    .order_block .order_time {
        text-align: left;
    }
}