@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

body , html , .navigation, .navigation-header span {
    font-family: 'Tajawal', sans-serif;
}

.shuffle_buttons {
    margin-top: 25px !important;
}
.shuffle_buttons button {
    border: none;
    background: none
}
.shuffle_buttons button.mixitup-control-active {
    color: #7367F0;
    font-weight: bold;
}
.ecommerce-application .ecommerce-card:hover {
    transform: none !important;
}
.and_new_client {
    float: left;
    margin: 10px 0;
    font-size: 13px;
    border: none !important;
}